.container-presentation {
  grid-area: container-presentation;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-presentation h1 {
  width: 354px;
  font-size: 60px;
  word-wrap: break-word;
  margin-right: 102px;
}

.container-presentation p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #4a5568;
}

.container-presentation img {
  width: 476px;
  height: 323px;
}

.container-announcement {
  grid-area: container-announcement;
  display: none;
}

.container-posts {
  grid-area: container-posts;
  display: none;
}
