.container-presentation {
  grid-area: container-presentation;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  margin-top: 27px;
  margin-bottom: 39px;
  padding-left: 127px;
  padding-right: 93px;
  padding-top: 70px;
  padding-bottom: 74px;
}

.container-presentation h1 {
  width: 354px;
  font-size: 60px;
  word-wrap: break-word;
  margin-right: 102px;
}

.container-presentation p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #4a5568;
}

.container-presentation img {
  width: 476px;
  height: 323px;
}

.container-announcement {
  grid-area: container-announcement;
  display: flex;
  width: 966px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
  padding-left: 52.27px;
  justify-content: center;
}

.container-announcement h2 {
  padding-top: 42px;
  padding-bottom: 27px;
  color: #2d3748;
}

.container-announcement p {
  padding-right: 77.4px;
  padding-bottom: 30px;
  color: #718096;
}

.container-announcement-footer {
  padding-right: 77.4px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.date {
  color: #718096;
  font-weight: normal;
  font-size: 12px;
}

.read-more {
  font-weight: 700;
  color: #2d3748;
  font-size: 12px;
}

.container-announcement img {
  width: 433.24px;
  height: 243px;
}

.container-posts {
  grid-area: container-posts;
  display: flex;
  width: 966px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
}

.container-post-1 {
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
}

.container-post-2 {
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
}

.container-post-3 {
  width: 300px;
  box-sizing: border-box;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  border-radius: 5px;
}

.container-posts img {
  width: 297px;
  height: 179px;
}

.container-posts h3 {
  color: #2d3748;
  margin-top: 18px;
  margin-left: 16px;
  margin-bottom: 15px;
}

.container-posts h5 {
  margin-left: 16px;
  margin-right: 25px;
  color: #718096;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 22px;
}

.container-post-footer {
  margin-left: 16px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
