.container-post {
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 45px;
}

.container-post img {
  width: 1200px;
  height: 400px;
  object-fit: cover;
}

.post-content {
  margin-top: 40px;
  margin-left: 250px;
  margin-right: 250px;
  text-align: left;
}

.post-content h1 {
  color: #2d3748;
  font-size: 45px;
  margin-bottom: 16px;
}

.post-content p {
  font-size: 16px;
  font-weight: normal;
  color: #718096;
  font-style: normal;
  margin-bottom: 10px;
}

.post-content h4 {
  color: #2d3748;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-info {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #e8e7e7;
  margin-bottom: 37.5px;
}

.post-info h4 {
  font-size: 18px;
  color: #2d3748;
}

.post-info h4 span {
  color: #718096;
  font-size: 18px;
  font-weight: normal;
  margin-left: 40px;
}

.post-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
  color: #2d3748;
}

.arrow-up {
  display: flex;
  justify-content: flex-end;
}

.arrow-up-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.arrow-up i {
  font-size: 50px;
  color: #662bc5;
}
