* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 36px;
  margin-left: 83px;
  margin-right: 93px;
  display: none;
}

.main {
  grid-area: main;
  grid-template-areas:
    'container-presentation'
    'container-announcement'
    'container-posts';
  grid-gap: 10px;
  background-color: #fbfbfb;
  margin-top: 27px;
  padding-left: 127px;
  padding-right: 93px;
  padding-top: 70px;
  padding-bottom: 74px;
}

.footer {
  grid-area: footer;
  display: none;
}

.container-master {
  display: grid;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  grid-gap: 10px;
  /* background-color: #ee0000; */
}

.container-master > div {
  text-align: center;
  font-size: 30px;
}
