* {
  margin: 0;
  top: 0;
}

.tab-bar {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.tab-bar a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Inter';
  line-height: 24px;
}

.itens {
  display: flex;
  flex-flow: row;
  width: 578px;
  justify-content: space-between;
}

.itens ul {
  display: flex;
  flex-flow: row;
  list-style-type: none;
}

.itens ul li a {
  margin-left: 30px;
  font-family: 'Inter';
  text-decoration: none;
  color: #000000;
  font-weight: normal;
  font-size: 16px;
}

.itens input {
  border: none;
}
