* {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 36px;
  margin-left: 83px;
  margin-right: 93px;
}

.main {
  grid-area: main;
  grid-template-areas:
    'container-presentation'
    'container-announcement'
    'container-posts';
  display: grid;
  grid-gap: 10px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e8e8e8;
}

.container-master {
  display: grid;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  grid-gap: 10px;
}

.container-master > div {
  text-align: center;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
  }

  .header {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}
